.container{
    display: flex;
    justify-content: center;
}
.card{
    background-color: rgb(246, 239, 239);
    width: 450px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
}
.card-img{
    background-color: aqua;
    height: 250px;
    background-size: cover;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}
.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
}